<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="common.css">
  <title>Vue.js App</title>
</head>
<body>
  <h1>ビンゴ！</h1>
  <div id="app" v-cloak>
    <ul>
      <!-- <li><input type="number" v-model="minNumber">から</li> -->
      <li>最大番号<input type="number" v-model="maxNumber"></li>
    </ul>
    <button v-on:click="setNumber">セット！</button>
    <p>出てきたのは〜 {{ currentNumber }} ！</p>
    <p v-if="numberAllComplete">全ての玉が出ました。</p>
    <p v-if="!numberAllComplete"><button v-on:click="stopNumber">ストップ</button></p>
    <div>
      <p>出てきた玉</p>
      <ul>
        <li v-for="(item, index) in chosenNumber" v-if="item.number">{{ item.number }}</li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
